.estudios {
    background-color: rgb(59, 155, 115);
    display: flex;
    box-shadow:
    inset 0 -3em 6em rgba(0,0,0,0.1),
          0.3em 0.3em 1em rgba(0,0,0,0.3);   
}

.tituloEstudio {
    margin: 100px 0 120px 15px;
    padding: 10px;
    background-color: rgb(92, 158, 160);
    font-family: 'Teko', sans-serif;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0.3em 0.3em 1em rgba(0,0,0,0.3);   
}


.listaEstudio {
    list-style: none;
}

.itemEstudio {
    background-color: rgba(22, 11, 179, 0.062);
    padding: 5px 100px;
    text-decoration: underline;
}
